[
    {elvis, [
        {config, [
            #{
                dirs => ["src/**"],
                filter => "*.erl",
                ruleset => erl_files_strict,
                rules => [
                    {elvis_text_style, line_length, disable},
                    {elvis_style, no_macros, disable},
                    {elvis_style, module_naming_convention, #{
                        regex => "^keysmith"
                    }}
                ]
            },
            #{
                dirs => ["test/**"],
                filter => "*.erl",
                ruleset => erl_test_files,
                rules => [
                    {elvis_style, no_macros, disable},
                    {elvis_style, no_debug_call, disable}
                ]
            },
            #{
                dirs => ["src/**", "test/**"],
                filter => "*.hrl",
                ruleset => hrl_files
            },
            #{
                dirs => ["."],
                filter => "rebar.config",
                ruleset => rebar_config
            },
            #{
                dirs => ["."],
                filter => "elvis.config",
                ruleset => elvis_config
            }
        ]}
    ]}
].
