[
    {config, [
        #{
            files => ["src/**/*.erl"],
            ruleset => erl_files_strict,
            rules => [
                {elvis_text_style, max_line_length, disable},
                {elvis_style, no_macros, disable},
                {elvis_style, module_naming_convention, #{
                    regex => "^keysmith"
                }}
            ]
        },
        #{
            files => ["test/**/*.erl"],
            ruleset => erl_files_test,
            rules => [
                {elvis_style, no_macros, disable},
                {elvis_style, no_debug_call, disable},
                {elvis_style, no_block_expressions, disable}
            ]
        },
        #{
            files => ["rebar.config"],
            ruleset => rebar_config,
            rules => [
                {elvis_project, no_branch_deps, disable}
            ]
        }
    ]}
].
