{deps, []}.

{minimum_otp_vsn, "27"}.

{shell, [{apps, [keysmith]}]}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_export_vars,
    warn_unused_import,
    warn_keywords
]}.

{project_plugins, [
    rebar3_ex_doc,
    rebar3_hex,
    erlfmt,
    rebar3_lint,
    rebar3_hank,
    rebar3_proper
]}.

{erlfmt, [
    write,
    {print_width, 80},
    {files, [
        "elvis.config",
        "include/**/*.hrl",
        "rebar.config{,.script}",
        "src/**/*.{hrl,erl,app.src}",
        "test/**/*.{hrl,erl}"
    ]}
]}.

{alias, [
    {test, [
        {eunit, "--cover"},
        {proper, "--cover"},
        cover
    ]},
    {ci, [
        fmt,
        hank,
        lint,
        {do, "default as test dialyzer"},
        {do, "default as test xref"},
        eunit,
        ct,
        proper,
        ex_doc,
        cover
    ]}
]}.

{dialyzer, [
    {plt_apps, all_deps},
    incremental,
    {warnings, [unmatched_returns]}
]}.

{profiles, [
    {test, [
        {deps, [
            unite,
            proper
        ]},
        % Include logger logs in CT and produce XML results
        {ct_opts, [{ct_hooks, [cth_log_redirect, cth_surefire]}]},
        % Include test folder in static analysis
        {extra_src_dirs, [{"test", [{recursive, true}]}]},
        {xref_extra_paths, ["test"]},
        {dialyzer, [{plt_extra_apps, [eunit, common_test, proper]}]},
        % Enable cover
        {cover_enabled, true},
        {cover_opts, [verbose]},
        % Run tests in parallel
        {eunit_tests, [{inparallel, keysmith_tests}]},
        % Use unite for pretty-printing
        {eunit_opts, [no_tty, {report, {unite_compact, []}}]},
        {proper_opts, [quiet]}
    ]}
]}.

{hex, [{doc, #{provider => ex_doc}}]}.

{ex_doc, [
    {source_url, "https://github.com/eproxus/keysmith"},
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"CHANGELOG.md", #{title => "Changelog"}},
        {"LICENSE.md", #{title => "License"}},
        {"CODE_OF_CONDUCT.md", #{title => "Code of Conduct"}},
        {"SECURITY.md", #{title => "Security"}},
        {"CONTRIBUTING.md", #{title => "Contributing"}}
    ]},
    {main, "README.md"}
]}.
